{% extends 'frontend/frontheaderfooter.html.twig' %}


{% block content %}
<div class="container">
    <h2>La liste de services</h2>
    <div class="row">
        <table class="table" class="center">
            <thead>
            <tr>
                <th>Id</th>
                <th>Rdv</th>
                <th>Rapport</th>
                <th>Email</th>
               {#  <th>User</th>#}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.id }}</td>
                <td>{{ service.rdv ? service.rdv|date('Y-m-d') : ''  }}</td>
                <td>{{ service.rapport }}</td>

                <td>{{ service.email }}</td>
{#  <td>{{ service.idUser }}</td>#}

                <td>
                    <a href="{{ path('service_edit', {'id': service.id}) }}">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{{ path('service_delete', {'id': service.id}) }}">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun service n'est disponible</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="row">
        <td><a class="btn btn-success1" href="{{ path('service_new')}}" > Créer un nouveau service </a></td>
    </div>
</div>

{% endblock %}

