{% extends 'backend/backbody.html.twig' %}
{% block content %}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
    <h1>Liste des blogs</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Type</th>
            <th>Image</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        <tr {% for b in blog%}>
            <td>{{ b.id }}</td>
            <td>{{ b.titre }}</td>
            <td>{{ b.type }}</td>
            <td><img src="{{ asset('images/blog/') }}{{ b.imageName }}" height="50" width="50"></td>
            <td>
                <a class="btn btn-block btn-info" href="{{ path('delete_blog',{'id':b.id}) }}" > Delete</a>
            </td>
            <td>
                <a class="btn btn-block btn-info" href="{{ path('update_blog',{'id':b.id}) }}" > Update</a>
            </td>
        </tr{% endfor %}>
    </table>
    </body>
    </html>
{% endblock %}