{{ form_start(form) }}

<div class="col-md-6">
    {{ form_row(form.date) }}
</div>
<div class="col-md-6">
    {{ form_row(form.cv) }}
    {{ form_row(form.idembauche) }}
    {{ form_row(form.title) }}
</div>
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
