{% extends 'frontend/frontheaderfooter.html.twig' %}

{% block content %}
<div class="alert alert-success" role="alert">
    <h1>Entretien</h1>
</div>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entretien.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entretien.date ? entretien.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Pdf</th>
                <td>{{ entretien.pdf }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('entretien_index') }}"><button type="button" class="btn btn-info">Back To list</button></a>


    <a href="{{ path('entretien_edit', {'id': entretien.id}) }}"><button type="button" class="btn btn-success">Edit</button></a>

    {{ include('entretien/_delete_form.html.twig') }}
{% endblock %}
