{% extends './backend/backbody.html.twig' %}
{% block content %}

    {{ form_start(form,{attr:{'id':'form'}}) }}
    <div class="container">
        <div class="form-group">
            {{ form_label(form.text,"text:" ) }}
            {{ form_widget(form.text, {attr: {class:'form-control'}}) }}
        </div>

      <div class="form-group">
            {{ form_label(form.date,"date:" ) }}

            {{ form_widget(form.date,{attr: {class:'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.idevent,"idevent:" ) }}

            {{ form_widget(form.idevent,{attr: {class:'form-control'}}) }}
        </div>





    </div>
    <div class="card-footer">
        <button type="submit" href="{{ path('add_specialisation') }}"  class="btn btn-primary">ajouter</button>
    </div>




    {{ form_end(form) }}

{% endblock content %}